<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salim's Portfolio</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/salim.jpg') }}" type="image/x-icon">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='font/tradegothicltbold.ttf') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <!-- 
      
      Hi, am salim
      if you're viewing this source please use the email salimsuleimankt@gmail.com to send me how you rate this design i'll aprietiate it
      You can still email me if you wanna work with me. 
      Thanks.

   -->

  <!-- Profile -->
  <div class="profile card">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center text-center">
        <img src="{{ url_for('static',filename='img/salim.jpg') }}" alt="Admin" class="mypicture rounded-circle"
          width="150">
        <div class="mt-3">
          <h3 class="h3-name">I'm</h3>
          <span class="h1-name">Salim</span>
          <span class="h1-name">Suleiman</span>

          <p class="mb-1">~ Python Developer <i class="fab fa-python"></i></p>
          <p class="">
            Hello, I’m 17 years old and study to be a programmer. I love learning programming. My
            favorite programming language is Python, My main
            goal at
            the moment is become a Python Developer and find a JOB!
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="contact">
    <div class="row">

      <div class="col-md-12">
        <i class="far fa-envelope-open p-2"></i> Abuja, NG - Nigeria
      </div>

      <div class="col-md-12">
        <i class="fas fa-1x fa-phone p-2"></i> (234) 0863250601
      </div>

      <div class="col-md-12">
        <i class="fas fa-1x  fa-envelope p-2"></i> salimsuleimankt@gmail.com
      </div>

      <div class="col-sm-3 col-md-3">
        <a href="https://web.facebook.com/salim.kabir.3344/"><i class="fab fa-facebook fa-3x"></i></a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="https://www.instagram.com/salimsuleiman_/"><i class="fab fa-instagram fa-3x"></i></a>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="https://twitter.com/salimsuleiman_"><i class="fab fa-twitter fa-3x"></i></a>
      </div>
    </div>
  </div>

  <!-- Portfolio -->
  <div class="text-center portfolio-section">
    <h1 class="p-5 style-title">My <span style="text-decoration: underline 3px red;">Portfolio</span></h1>
    <div class="row ports">
      {% for portfolio in portfolios  %}
      <div class="col-md-6 col-sm-12">
        <div class="portfolio card mb-5" style="width: 90%">
          <img src="{{ url_for('static',filename='img') }}/{{portfolio.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 style="color: #222831;" class="card-title fw-bold">{{ portfolio.name }}</h5>
            <p class="card-text">{{ portfolio.description }}.</p>
            <a href="{{ portfolio.link  }}" class="btn btn-outline-danger">View portfolio</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</html>